.game-piece {
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.game-piece-player2 {
  background-color:darkslategray;
}

.game-piece-player1 {
  background-color:cornflowerblue;
}

.draggable-piece{
  cursor: pointer;
}